# EditorConfig is awesome: http://EditorConfig.org

# This is the file in the root of the project.
# For sub folders you can have other files that override only some settings.
# For these, this settings should be false.
root = true

[*]
max_line_length = 120
# For me it's spaces, not tabs.
indent_style = space
indent_size = 4
continuation_indent_size = 8
# I follow Linux conventions here.
# This needs to match the setting in .gitsettings, otherwise you'll have
# files with crlf due to Git, that will be converted by your IDE to lf and this
# shows up as local changes :-(
end_of_line = lf
# This should match the settings in your build tools.
# Especially useful when I write AsciiDoc documentation.
charset = utf-8
# Trimming is good for consistency!
trim_trailing_whitespace = true
# I've seen cases where a missing new_line was ignored on *nix systems.
# Never again with this setting!
insert_final_newline = true

[*.properties]
# There is always an exception to a rule:
# Java properties files should be encoded latin1 (aka iso8859-1)
charset = latin1

[*.{cmd,bat}]
# batch files on Windows should stay with CRLF
end_of_line = crlf