server:
  applicationConnectors:
      - type: http
        port: 9090
  adminConnectors:
      - type: http
        port: 9091

keycloakConfiguration:
  realm: test
  auth-server-url: http://localhost:8080
  ssl-required: none
  register-node-at-startup: true
  register-node-period: 600
  bearer-only: true
  resource: test
  policy-enforcer:
      enforcement-mode: "ENFORCING"
  credentials:
    secret: 7abd7d08-b10f-4513-bbba-aebebddabb45
