name: Java CI with Maven

on:
  push:
    # dependabot will create both branches and pull request
    # only run on pull requests to avoid running twice and creating a release draft
    branches-ignore:
      - 'dependabot/**'
      - 'docs'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: |
          docker build -t keycloak-server-docker keycloak-server-docker
          docker run --cidfile=kd -e KEYCLOAK_USER=admin -e KEYCLOAK_PASSWORD=admin -d -p 8080:8080 keycloak-server-docker
          docker ps
          docker network ls
          ifconfig
          ./keycloak-server-docker/wait-for-docker.sh localhost 8080
          docker logs `cat kd`
          # set IP address to docker host in the default 'bridge' network
          # this enables successful callbacks from the Keycloak server on logout
          export HOSTNAME=172.17.0.1
          ./mvnw -B test checkstyle:check
      - name: failure reporting
        if: ${{ failure() }}
        run: |
          docker logs `cat kd`
      - name: publish
        if: ${{ success() && github.event_name != 'pull_request' && github.ref == 'refs/heads/master' }}
        env:
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: |
          mvn deploy --settings cisettings.xml -DskipTests=true -B
